Repository persikida/COVID-19: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image static games dev, image static games stage, image static games prod, deploy static games dev, deploy static games stage, deploy static games prod, undo static games dev, undo static games stage, undo static games prod

Path conditions:
  image static games dev: not (any of: *.md)
  image static games stage: not (any of: *.md, .gitlab-ci.yml)
  image static games prod: not (any of: *.md, .gitlab-ci.yml)
  deploy static games dev: not (any of: *.md)
  deploy static games stage: not (any of: *.md, .gitlab-ci.yml)
  deploy static games prod: not (any of: *.md, .gitlab-ci.yml)
  undo static games dev: not (any of: *.md)
  undo static games stage: not (any of: *.md, .gitlab-ci.yml)
  undo static games prod: not (any of: *.md, .gitlab-ci.yml)

fix pipe
  .gitlab-ci.yml
Due: image static games dev, deploy static games dev, undo static games dev

Update Dockerfile
  Dockerfile
Due: image static games dev, image static games stage, image static games prod, deploy static games dev, deploy static games stage, deploy static games prod, undo static games dev, undo static games stage, undo static games prod

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: image static games dev, deploy static games dev, undo static games dev

upd
  nginx.conf
Due: image static games dev, image static games stage, image static games prod, deploy static games dev, deploy static games stage, deploy static games prod, undo static games dev, undo static games stage, undo static games prod

updat pipe
  .gitlab-ci.yml
Due: image static games dev, deploy static games dev, undo static games dev

upd
  www/vendors/index.html
Due: image static games dev, image static games stage, image static games prod, deploy static games dev, deploy static games stage, deploy static games prod, undo static games dev, undo static games stage, undo static games prod

upd
  .gitlab-ci.yml
Due: image static games dev, deploy static games dev, undo static games dev

add game 3
  www/vendors/quiz-game-3/asset-manifest.json
  www/vendors/quiz-game-3/index.html
  www/vendors/quiz-game-3/precache-manifest.97fb5b8a942d2d434727899672e90355.js
  www/vendors/quiz-game-3/service-worker.js
  www/vendors/quiz-game-3/static/css/main.1377dc42.chunk.css
  www/vendors/quiz-game-3/static/css/main.1377dc42.chunk.css.map
  www/vendors/quiz-game-3/static/js/2.61e37b8d.chunk.js
  www/vendors/quiz-game-3/static/js/2.61e37b8d.chunk.js.LICENSE
  www/vendors/quiz-game-3/static/js/2.61e37b8d.chunk.js.map
  www/vendors/quiz-game-3/static/js/main.4df55585.chunk.js
  www/vendors/quiz-game-3/static/js/main.4df55585.chunk.js.map
  www/vendors/quiz-game-3/static/js/runtime-main.9dcc8a99.js
  www/vendors/quiz-game-3/static/js/runtime-main.9dcc8a99.js.map
  www/vendors/quiz-game-3/static/media/Dited.f1422591.otf
  www/vendors/quiz-game-3/static/media/Montserrat-Regular.ee653992.ttf
  www/vendors/quiz-game-3/static/media/logo.6d9bfb01.png
Due: image static games dev, image static games stage, image static games prod, deploy static games dev, deploy static games stage, deploy static games prod, undo static games dev, undo static games stage, undo static games prod

update static
  www/vendors/quiz-game-3/asset-manifest.json
  www/vendors/quiz-game-3/index.html
  www/vendors/quiz-game-3/precache-manifest.60dd9cb2075a12f137fd6d047431320f.js
  www/vendors/quiz-game-3/precache-manifest.97fb5b8a942d2d434727899672e90355.js
  www/vendors/quiz-game-3/service-worker.js
  www/vendors/quiz-game-3/static/js/2.61e37b8d.chunk.js
  www/vendors/quiz-game-3/static/js/2.61e37b8d.chunk.js.map
  www/vendors/quiz-game-3/static/js/2.73568dda.chunk.js
  www/vendors/quiz-game-3/static/js/2.73568dda.chunk.js.LICENSE
  www/vendors/quiz-game-3/static/js/2.73568dda.chunk.js.map
  www/vendors/quiz-game-3/static/js/main.0d20c2de.chunk.js
  www/vendors/quiz-game-3/static/js/main.0d20c2de.chunk.js.map
  www/vendors/quiz-game-3/static/js/main.4df55585.chunk.js.map
  www/vendors/quiz-game-3/static/js/runtime-main.9dcc8a99.js
  www/vendors/quiz-game-3/static/js/runtime-main.9dcc8a99.js.map
  www/vendors/quiz-game-3/static/js/runtime-main.e9d5e30d.js
  www/vendors/quiz-game-3/static/js/runtime-main.e9d5e30d.js.map
Due: image static games dev, image static games stage, image static games prod, deploy static games dev, deploy static games stage, deploy static games prod, undo static games dev, undo static games stage, undo static games prod

added experimental branch in gitci
  .gitlab-ci.yml
Due: image static games dev, deploy static games dev, undo static games dev

emulator
  www/vendors/emulator/Build/UnityLoader.js
  www/vendors/emulator/Build/emulator.data.unityweb
  www/vendors/emulator/Build/emulator.json
  www/vendors/emulator/Build/emulator.wasm.code.unityweb
  www/vendors/emulator/Build/emulator.wasm.framework.unityweb
  www/vendors/emulator/TemplateData/UnityProgress.js
  www/vendors/emulator/TemplateData/favicon.ico
  www/vendors/emulator/TemplateData/fullscreen.png
  www/vendors/emulator/TemplateData/progressEmpty.Dark.png
  www/vendors/emulator/TemplateData/progressEmpty.Light.png
  www/vendors/emulator/TemplateData/progressFull.Dark.png
  www/vendors/emulator/TemplateData/progressFull.Light.png
  www/vendors/emulator/TemplateData/progressLogo.Dark.png
  www/vendors/emulator/TemplateData/progressLogo.Light.png
  www/vendors/emulator/TemplateData/style.css
  www/vendors/emulator/TemplateData/webgl-logo.png
  www/vendors/emulator/index.html
Due: image static games dev, image static games stage, image static games prod, deploy static games dev, deploy static games stage, deploy static games prod, undo static games dev, undo static games stage, undo static games prod

Emulator
  www/vendors/emulator/Build/UnityLoader.js
  www/vendors/emulator/Build/emulator.data.unityweb
  www/vendors/emulator/Build/emulator.json
  www/vendors/emulator/Build/emulator.wasm.code.unityweb
  www/vendors/emulator/Build/emulator.wasm.framework.unityweb
  www/vendors/emulator/TemplateData/UnityProgress.js
  www/vendors/emulator/TemplateData/favicon.ico
  www/vendors/emulator/TemplateData/fullscreen.png
  www/vendors/emulator/TemplateData/progressEmpty.Dark.png
  www/vendors/emulator/TemplateData/progressEmpty.Light.png
  www/vendors/emulator/TemplateData/progressFull.Dark.png
  www/vendors/emulator/TemplateData/progressFull.Light.png
  www/vendors/emulator/TemplateData/progressLogo.Dark.png
  www/vendors/emulator/TemplateData/progressLogo.Light.png
  www/vendors/emulator/TemplateData/style.css
  www/vendors/emulator/TemplateData/webgl-logo.png
  www/vendors/emulator/index.html
Due: image static games dev, image static games stage, image static games prod, deploy static games dev, deploy static games stage, deploy static games prod, undo static games dev, undo static games stage, undo static games prod

upd
  .gitlab-ci.yml
  nginx.conf
Due: image static games dev, deploy static games dev, undo static games dev

upd with resolve mergeconflicts
  .gitlab-ci.yml
  nginx.conf
Due: image static games dev, deploy static games dev, undo static games dev

Update gci
  www/vendors/quiz-game-3/asset-manifest.json
  www/vendors/quiz-game-3/index.html
  www/vendors/quiz-game-3/precache-manifest.fc8b4be939096455aab557d175d89f18.js
  www/vendors/quiz-game-3/service-worker.js
  www/vendors/quiz-game-3/static/js/2.4f1419ed.chunk.js
  www/vendors/quiz-game-3/static/js/2.4f1419ed.chunk.js.LICENSE
  www/vendors/quiz-game-3/static/js/2.4f1419ed.chunk.js.map
  www/vendors/quiz-game-3/static/js/main.45a09491.chunk.js
  www/vendors/quiz-game-3/static/js/main.45a09491.chunk.js.map
Due: image static games dev, image static games stage, image static games prod, deploy static games dev, deploy static games stage, deploy static games prod, undo static games dev, undo static games stage, undo static games prod

Update ci
  .gitlab-ci.yml
Due: image static games dev, deploy static games dev, undo static games dev

Initial commit
  README.md
Due: none

Delete README.md
  README.md
Due: none

Upd
  COVID-19 - 4th week sol .ipynb
  test.csv
  train.csv
Due: image static games dev, image static games stage, image static games prod, deploy static games dev, deploy static games stage, deploy static games prod, undo static games dev, undo static games stage, undo static games prod
